<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <title>Usuário ou Senha Não Cadastrados</title>
        <link rel="stylesheet" href="/css/errorLogin/errorLogin.css" />
    </head>
    <body>
        <div class="error">
            <h1>Usuário ou Senha Não Cadastrados</h1>
            <p>
                Desculpe, seu nome de usuário ou senha não foram encontrados em nossos registros. Por favor, tente novamente ou entre em contato com o
                suporte se precisar de ajuda.
            </p>
            <button class="voltar">Voltar</button>
        </div>
    </body>
    <script src="/JS/telaLogin.js"></script>
</html>
